
<div id="index">

    <div class="md-content">

        <div id="fields">

          <div>
            <span> </span>   <span> </span>
          </div>
          <div>

          </div>


        <% end %>

      </div>

    </div>

  </div>
