<div class="index" id="top">



    <div class="md-content-splash">

        <div id="fields-home">
          <!-- <p>  <h1>Introducing peeK</h1> </p> -->

          <section id="video-display">

          <div class="full-vid">
              <video width="600" height="400" controls>
                <source src="https://vimeo.com/156319030" type="video/mov">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>

            </div>


            <div id="aboutUs">
              <p id="peek-Description">peeK is a facial recognition door lock system. The peeK lock goes over your current deadbolt and is linked to your peeK account. Opening your house is as easy as taking a selfie, no keys required!</p>
            </div>

        </div>

    </div>
    <a href="#two">Frequently Asked Questions</a>
    <a href="#three">Contact Us</a>
</div>

<div class="index" id="two">

  <div class="md-content-splash">

    <div id="fields-home">


        <h3>FAQ</h3>
            <ol>
             <b><li>What is peeK?</li></b>
             <p>peeK is a facial recognition gateway.<p>
             <b><li>Facial Recognition? That sounds complicated. I'm not a tech savvy person, how hard is it to setup?</li></b>
             <p>After the initial setup process (3 minutes) it takes just seconds to unlock your door with nothing but your face.
             <p>We made the setup quick and easy. Just choose 6 pictures of your face to be uploaded then click the enroll button.</p>
             <b><li>I have my house created and my face enrolled, now what?</li></b>
             <p>Using peeK is as easy as taking a selfie, just click on unlock, snap a selfie and press go!</p>
             <b><li>So I can unlock my house, what if I leave and forget to lock it?</li></b>
             <p>Easy! Just log into your dashboard from any computer or phone and hit the lock icon...Done!</p>
             <b><li>Does peeK work with my current smartlock?</li></b>
             <p>We are working to implement peeK recipes into IFTTT.com, allowing you to add facial recognition security to smartlocks such as August and Kwikset Kevo.</p>
             <b><li>Does peeK work with my phone?</li></b>
             <p>Yes, you can login into peek.cf from any iOS or Android device that has a front-facing camera. We are also available on the Apple APP STORE with a standalone iOS app for easy access.</p>
            </ol>



    </div>

  </div>
  <a href="#top">Scroll to top</a>
  <a href="#three">Contact Us</a>
</div>

<div class="index" id="three">


  <div class="md-content-splash">


    <div id="fields-home">

      <div id="aboutUs">
        <p>"Contact Us" </p>
      </div>


    </div>

  </div>
    <a href="#top">Scroll to top</a>
</div>
