/*// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// <style>*/
* {
  margin: 0;
  font-family: "Lato", sans-serif;
}
html {
  height: 100%;
  width: 100%;
}
h1 {
  padding: 10px;
  margin: 0;
  background: #111f2f;
  color: white;
}

h3 {
  padding: 5px;
}

header, footer {
 background-color:#111f2f;
 color:white;
 text-align:right;
 padding-top: 5px;
 padding-right:20px;
 padding-bottom: 0;
 height: 55px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align:center;
  padding-top: 20px;
}

body {
  background-image: url('background1.jpg');
  background-size: cover;
}

#nav {
 background-color:#304f74;
 height:50px;
 color: white;
 display: flex;
 align-items: center;
 padding-left: 25px;
}

#login,
#signup,
#newHouse,
#Dashboard,
#Match,
#Recognition,
#HouseMembers {
  margin: auto;
  text-align: center;
  padding: 5%;
  width: 550px;
  height: 300px;
  /*background-color: #8a735c;*/
}

input#email,
input#password,
input#user_first_name,
input#user_last_name,
input#user_zipcode,
input#user_phone_number,
input#user_email,
input#user_password,
input#user_password_confirmation,
input#house_name,
input#picture_image,
input.send_picture {
  width: 235px;
  height: 30px;
  margin-top: 5px;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 2px inset;
}
input.send_picture {
  width: 250px;
  height: 42px;
  color: white;
}

input#picture_image{
  background: -webkit-linear-gradient(top, #628ec1, black);
  border: 1px solid #999;
  border-radius: 8px;
  padding: 4px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  color: white;
  margin: 1px 0;
  padding-top: 10px;
}

input.form_submit {
  width: 243px;
  height: 37px;
  margin-top: 5px;
  font-size: 1rem;
  color: white;
  border-radius: 0.3rem;
  border: 2px inset;
}

#houseLI {
  font-weight: bold;
  padding: 10px;
  display: flex;
  align-items: center;
}
#houseLI div.inline:first-child{
  margin-right: auto;

}

.md-content {
  min-width: 550px;
  min-height: 300px;
  text-align: center;
  background: #628ec1;
  padding-bottom: 20px;
  opacity: 0.92;
}

#fields {
  margin-top: 10px;
  margin-bottom: 10px;
}


.btn {
  color: #fff;
  padding: 10px;
  background-color: #628ec1;
  margin-left: 5px;
  border-radius: 2px;
  /*width: 80px;*/
  font-size: 20;
}
div.inline { float:left; }
.clearBoth { clear:both; }

.dashboard {
  padding: 5px;
}
